h1,
p,
a,
span {
  color: #111e6c;
  letter-spacing: 0.02em;
  font-weight: 600;
}

h1 {
  font-size: 2.5em;
}

p {
  font-size: 1.5em;
  line-height: 25px;
}

button {
  border: 0;
  border-radius: 26px;
  padding-bottom: 2px;
}

span {
  font-size: 1.6em;
}

.container,
.flip-box,
.front,
.back {
  width: 100%;
  height: 350px;
}

.container,
.flip_box {
  position: relative;
}

.front,
.back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.container {
  -moz-transform: perspective(1200px);
  -webkit-perspective: 1200px;
  perspective: 1200px;
}

.flip_box {
  transition: all 0.5s ease-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.front {
  background-color: #ffffff;
}

.f_title {
  text-align: center;
  font-weight: 800;

}

p.f_title {
  text-align: center;
  font-weight: 800;
}
.f_subline {
  font-size: 14px;
  color: #323232;
  line-height: 1.2;
  font-weight: 500;
  text-align: center;
}
.f_subline2 {
  font-size: 14px;
  color: #323232;
  line-height: 1.2;
  font-weight: 500;
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
}

.f_headline {
  line-height: 23px;
}

.back {
  background-color: #ffffff;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

h1.f_headline {
  text-align: center;
  color: #e14150;
  font-family: 'Montserrat';
}

.b_headline {
  padding-top: 50px;
}

.b_text {
  font-size: 1.4em;
  line-height: 28px;
  padding-top: 10px;
  opacity: 0.85;
}

.b_button {
  position: absolute;
  left: 36px;
  bottom: 38px;
  width: 150px;
  height: 52px;
  transition: all 0.3s;
}


.flipped {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.r_wrap {
  position: absolute;
  right: 40px;
  top: 18px;
}

.b_round,
.s_round {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  transition: all 0.2s linear;
}

.s_round_click {
  transform: scale(1.7);
}

.s_arrow {
  width: 26px;
  height: 26px;
  background-image: url('images/signo2.png');
  background-color: transparent;
  transition: all 0.35s linear;
}

.s_arrow_rotate {
  transform: rotate(-180deg);
}

p.textp {
  font-size: 14px;
  transform: translateY(-3px);
  line-height: 1.4;
}

.textplay {
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
}

img.imgback {
  transform: translateX(17em);
}

/*Responsive*/

@media(max-width:600px){
  .u-section-1 .u-btn-1 {
    padding: 5px 27px;
  }
  .u-section-1 .u-image-1 {
    margin-right: 0px!important;
  }
  .u-section-1 .u-image-1 {
    width: 127px;
    height: 92px;
    margin: 25px 145px 0 auto;
  }
  .u-container-style.u-layout-cell.u-size-20.u-white.u-layout-cell-4 {
    display: none;
  }
  .u-section-1 .u-text-7 {
    margin: 23px 13px 0 24px;
  }
  .u-section-1 .u-line-1 {
    margin-right: auto;
  }
  .u-section-1 .u-text-10 {
    margin-left: 119px;
  }
  .u-section-1 .u-custom-html-1 {
    width: 100%;
  }
  img.imgback {
    transform: translateX(15em);
  }
}